<div class="module scaffoldingmenu" ng-controller="scaffoldingmenuController">

 
  <div class="menu" ng-show="muestramenu">
      
      <a class="item" ng-click="muestramenu = false" ng-repeat="(key, value) in menu" ng-selected="isSelected(value.url)" ng-href="{{value.url}}" >
                    <i>
                    <koa-icon src="{{value.icon}}" ng-if="!showicons && value.typeicon === 0"></koa-icon>
                    <iron-icon src="{{value.icon}}" class="itemicon" ng-if="!showicons && value.typeicon === 1"></iron-icon>
                    </i>
                    <em>{{value.text}}</em>
                  </a>
                  
  </div>
  
  
<div class="content" ng-show="!muestramenu">
 <button ng-click="muestramenu = true">
     <koa-icon icon="{{scaffoldingmenu.icon}}" id="menuIcon" class="menuIcon" ></koa-icon>
     </button>
  <!-- moduleIdentifier + Template - Needs embracing div -->

  <div ng-include="scaffoldingmenuTemplate" class="template"></div>
</div>



<!-- end module html -->
</div>
